body{
    background-color:rgb(0, 0, 0)
}
#container{

    /*height: 604px;
    width:604px;
    border-width: 1px;
    border-style:solid;*/
}
.box{
    height:200px;
    width: 200px;
    border-width:1px;
    border-style:solid;
    border-color:white;
    
    text-align: center;
    font-size:175px;
    font-family:'Courier New' , Courier , Monospace;
    position: relative
}
.box:hover p{
    
    color: white;
}
.box:hover{
    background-color: aquamarine;

}
.box-text{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -100px;
    margin-left:-50px;
    color:aquamarine;
}
.row{
    display: flex;
}
#turn{
 color:white
  
}
#top-text {
    color:white
}