body{
    background-color:darkseagreen;
     text-align: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
    border: 3px dashed aquamarine;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
    font-size: large;
    border: 3px dashed aquamarine;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
    font-size: large;
    border: 3px dashed antiquewhite;
}
